@import '../../index.scss';
.skills {
    background-color: $color-green;
    padding: 50px;

    .listes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-transform: uppercase;
        align-items: flex-start;
        padding: 40px 0;

        .skills-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            box-sizing: border-box;
            width: 100%;
        }

        p {
            font-size: 48px;
            color: $color-beige;
            font-weight: bold;
            padding: 40px 0px;
        }

        .rating-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 20px;
            
            li {
                display: flex;
                justify-content: space-between; 
                align-items: center; 
                gap: 50px;
                
                .competence {
                    font-size: 30px;
                    color: $color-beige;
                    font-family: $body-font-family;
                    font-weight: bold;
                }
                
                .rating {
                    display: inline-flex; 
                    gap: 15px; 
                    font-size: 30px;
        
                    .filled {
                        color: $color-orange;
                    }
        
                    .empty {
                        color: $color-dark-green;
                    }
                }
            }
        }
        
        
    }
}

/*** Medium devices (tablets, less/equal than 1024px) ***/
@media (max-width: 1200px) {
    .skills{
        padding: 30px 50px;
        .listes{
            padding: 0 0 20px 0;
            gap: 20px;

            .skills-section{
                p{
                    padding: 30px 0 15px 0;
                    font-size: 30px;
                }

                ul{
                    padding: 0;
                }
            }

            .rating-list{
                
                li{
                    gap: 40px;

                    .competence{
                        font-size: 24px;
                    }

                    .rating{
                        font-size: 20px;
                        gap: 10px;
                    }
                }        
            }
        }
    }
}

/*** Small devices ***/
@media (max-width: 768px){
    .skills{
        padding: 30px 30px;
        .listes{
            flex-direction: column;
            gap: 0;

            .skills-section{
                p{
                    padding: 30px 0 15px 0;
                    font-size: 25px;
                }
            }

            .rating-list{
                
                li{
                    gap: 20px;

                    .competence{
                        font-size: 18px;
                    }

                    .rating{
                        font-size: 15px;
                        gap: 8px;
                    }
                }        
            }
        }
    }
}