@import '../../index.scss';

.main-page{
    background-color: $color-beige;
    display: flex;
    flex-direction: column;
    color: $color-dark-green;
    align-items: center;
    height: 100%;
    padding: 40px ;
    gap: 30px;
    margin-top: 85px;

    h1{
        font-family: $title-font-family;
        text-transform: uppercase;
        font-size: 115px;
        margin: 0;
        text-align: center;
    }

    p{
        font-family: $body-font-family;
        margin: 0;
    }

    .greeting{
        font-size: 40px;
    }

    .job{
        font-size: 50px;
        
    }

    .socials{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 50px;

            svg{
                height: 35px;
                color: $color-dark-green;
            }

            svg:hover {
                color: $color-light-green;
            }
        }
    }
}

/*** Medium devices (tablets, less/equal than 1024px) ***/
@media (max-width: 1200px) {
    .main-page{
        margin-top: 70px;

        h1{
            font-size: 80px;
        }

        .greeting{
            font-size: 30px;
        }

        .job{
            font-size: 40px;
        }

        .socials{
            ul{
                svg{
                    height: 30px;
                }
            }
           
        }
    }
}

/*** Small devices ***/
@media (max-width: 768px){
    .main-page{
        margin-top: 80px;

        h1{
            font-size: 50px;
        }

        .greeting{
            font-size: 25px;
        }

        .job{
            font-size: 25px;
        }

        .socials{
            ul {
                padding: 0;
                gap: 30px;

                svg{
                    height: 20px;
                    
                }
            }
            
        }
    }
}
