@import '../../index.scss';

.about {
    background-color: $color-green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px ;
    gap: 100px;

    .content p {
        padding-top: 40px;
        color: $color-beige;
        font-size: 30px;
    }

    .portrait {

        position: relative;

        img {
            position: relative; 
            z-index: 0.5; 
        }
        
        .orange-circle{
            border: 50px double $color-orange;
            height: 400px;
            width: 400px;
            background-color: $color-beige;
            border-radius: 50%;
            position: absolute;
            z-index: 0; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    }
   
}

/*** Medium devices (tablets, less/equal than 1024px) ***/
@media (max-width: 1200px) {
    .about{
        flex-direction: column;
        padding: 30px 50px;
        gap: 40px;

        .content p {
            padding-top: 30px;
            color: $color-beige;
            font-size: 20px;
            text-align: justify;
        }

        .portrait{
            img {
                height: 400px;
            }

            .orange-circle{
                border: 30px double $color-orange;
                height: 270px;
                width: 270px;
            }
        }
    }
}

/*** Small devices ***/
@media (max-width: 768px){
    .about{
        padding: 30px 30px;
        gap: 30px;

        .content p {
            padding-top: 25px;
            font-size: 17px;
        }

        .portrait{
            img {
                height: 300px;
            }

            .orange-circle{
                border: 30px double $color-orange;
                height: 180px;
                width: 180px;
            }
        }
    }
}