//Color theme
$color-beige: #F3DEBA;
$color-green: #41644A;
$color-dark-green: #263A29;
$color-orange: #E86A33;

//Fonts 
$title-font-family: 'Nova Mono', monospace;
$body-font-family: 'Lato', sans-serif;


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


