//Color theme
$color-beige: #F3DEBA;
$color-green: #41644A;
$color-dark-green: #263A29;
$color-orange: #E86A33;

//Fonts 
$title-font-family: 'Nova Mono', monospace;
$body-font-family: 'Lato', sans-serif;


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 64px;
  font-family: $title-font-family;
  color: $color-dark-green;
  margin: 0;
}

h3{
  font-size: 32px;
  font-family: $body-font-family;
  color: $color-dark-green;
  margin: 0;
}

p{
  font-family: $body-font-family;
  margin: 0;
}